<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Exercise</title>

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles.css">
</head>
<body>
    <div class="container">
        <form action="">
            <div class="item">
                <label for="formatNumber">Porcentagem:</label>
            
                <input 
                    type="text" 
                    name="formatNumber" 
                    id="formatNumber"
                    placeholder="%"
                    >
                </div>
                
                <div class="item">
                    <label for="cpf">CPF:</label>
                    
                    <input 
                        type="text" 
                        name="cpf" 
                        id="cpf"
                        placeholder="digite apenas números"
                    >
                </div>

                <div class="item">
                    <label for="cel">Celular:</label>
                    
                    <input 
                        type="text" 
                        name="cel" 
                        id="cel"
                        placeholder="(XX) 9 XXXX-XXXX"
                    >
                </div>
        </form>
    </div>

    <script src="../../public/scripts.js"></script>
</body>
</html>